<div class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-action="editImage" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="{{localize "FE2.Sheet.Common.Name"}}"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{> "systems/foundry-fe2/templates/partial-item-tabs-nav.html"}}

        <div class="tab" data-group="primary" data-tab="details">
          <h3 class="fe2-section-header">{{localize "FE2.Sheet.Common.Description"}}</h3>
          <prose-mirror button="true" toggled="true" name="system.description" value="{{system.description}}">{{{enrichedDescription}}}</prose-mirror>
        </div>

        <div class="tab" data-group="primary" data-tab="system">
          <ul class="fe2-system-fields">
            <li class="flexrow"><label class="generic-label">{{localize "FE2.Stats.Equipment.Acquire"}}</label>
              {{numericStepper name="system.acquire" value=system.acquire min=0}}
            </li>
            <li class="flexrow"><label class="generic-label">{{localize "FE2.Stats.Equipment.Resource"}}</label>
              {{numericStepper name="system.resource" value=system.resource min=0}}
            </li>
          </ul>

          {{> "systems/foundry-fe2/templates/partial-keywords-section.html"}}
        </div>

        <div class="tab" data-group="primary" data-tab="effects">
          {{> "systems/foundry-fe2/templates/effects-section.html"}}
        </div>

    </section>
</div>
