<div class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="{{localize "FE2.Sheet.Common.Name"}}"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{> "systems/foundry-fe2/templates/partial-item-tabs-nav.html"}}

        <div class="tab" data-group="primary" data-tab="details">
          <h3 class="fe2-section-header">{{localize "FE2.Sheet.Common.Description"}}</h3>
          <prose-mirror button="true" toggled="true" name="system.description" value="{{system.description}}">{{{enrichedDescription}}}</prose-mirror>
        </div>

        <div class="tab" data-group="primary" data-tab="system">
          {{> "systems/foundry-fe2/templates/partial-keywords-section.html"}}

          {{> "systems/foundry-fe2/templates/variations-section.html"}}
          {{> "systems/foundry-fe2/templates/modifications-section.html"}}
          {{> "systems/foundry-fe2/templates/partial-stronghits-section.html"}}

          {{> "systems/foundry-fe2/templates/partial-item-stats-vertical.html" stats=system.stats statstotal=system.statstotal dualMode=true title=(localize "FE2.Items.Common.Stats")}}
          {{#each system.variations as |variation key|}}
          {{> "systems/foundry-fe2/templates/partial-item-stats-vertical.html" stats=variation.system.stats readonly=true title=(localize "FE2.Items.Common.Variation") subtitle=variation.name}}
          {{/each}}
          {{#each system.modifications as |modification key|}}
          {{> "systems/foundry-fe2/templates/partial-item-stats-vertical.html" stats=modification.system.stats readonly=true title=(localize "FE2.Items.Common.Modification") subtitle=modification.name}}
          {{/each}}
        </div>

        <div class="tab" data-group="primary" data-tab="effects">
          {{> "systems/foundry-fe2/templates/effects-section.html"}}
        </div>

    </section>
</div>
