<div class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="{{localize "FE2.Sheet.Common.Name"}}"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="tab" data-group="primary">
          <h3>{{localize "FE2.Sheet.Common.Type"}}</h3>
          
          {{> "systems/foundry-fe2/templates/weapon-stats-section.html" stats=system.stats isbase=true title=(localize "FE2.Items.Common.ModificationStats") header=true}}

          <h3>{{localize "FE2.Sheet.Common.Description"}}</h3>
          <prose-mirror button="true" toggled="true" name="system.description" value="{{system.description}}">{{{enrichedDescription}}}</prose-mirror>
        </div>

    </section>
</div>
