<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="{{localize "FE2.Sheet.Common.Name"}}"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="tab" data-group="primary">
          <ul>
            <li class="flexrow"><label class="generic-label">{{localize "FE2.Sheet.Character.ResearchUnit"}}</label>
              <input type="text" name="data.researchunit" value="{{data.researchunit}}" data-dtype="Number"/>
            </li>
            <li class="flexrow"><label class="generic-label">{{localize "FE2.Items.Research.GainAt12"}}</label>
              <select class="competence-base flexrow" type="text" name="data.research12" value="{{data.research12}}" data-dtype="String">
                {{#select data.research12}}
                <option value="none">{{localize "FE2.Items.Research.None"}}</option>
                <option value="secret">{{localize "FE2.Items.Research.SecretKnowledge"}}</option>
                <option value="perk">{{localize "FE2.Items.Research.MinorPerk"}}</option>
                {{/select}}
              </select>
            </li>
            <li class="flexrow"><label class="generic-label">{{localize "FE2.Items.Research.GainAt16"}}</label>
              <select class="competence-base flexrow" type="text" name="data.research16" value="{{data.research16}}" data-dtype="String">
                {{#select data.research16}}
                <option value="none">{{localize "FE2.Items.Research.None"}}</option>
                <option value="secret">{{localize "FE2.Items.Research.SecretKnowledge"}}</option>
                <option value="perk">{{localize "FE2.Items.Research.MinorPerk"}}</option>
                {{/select}}
              </select>
            </li>
          </ul>
          <h3>{{localize "FE2.Sheet.Common.Description"}}</h3>
          {{editor system.description target="system.description" engine="prosemirror"}}
        </div>

    </section>
</form>
