
<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="{{localize "FE2.Sheet.Common.Name"}}"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="tab" data-group="primary">
          <ul>
            <li class="flexrow"><label class="item-sheet-label">{{localize "FE2.Sheet.Common.Type"}}</label>
              <select class="competence-base flexrow" type="text" name="system.type" value="{{system.type}}" data-dtype="String">
                {{#select system.type}}
                <option value="advancement">{{localize "FE2.Items.Types.Advancement"}}</option>
                <option value="attribute">{{localize "FE2.Items.Types.Attribute"}}</option>
                <option value="primaryskill">{{localize "FE2.Items.Types.PrimarySkill"}}</option>
                <option value="personalcombat">{{localize "FE2.Items.Types.PersonalCombat"}}</option>
                <option value="spaceshipcombat">{{localize "FE2.Items.Types.SpaceshipCombat"}}</option>
                <option value="npc">{{localize "FE2.Items.Types.NPC"}}</option>
                {{/select}}
              </select>
            </li>
          </ul>
        <div class="tab" data-group="primary">
          <span class="generic-label"><h3>{{localize "FE2.Items.Common.Requirements"}}</h3></span>
          <span class="small-editor item-text-long-line">
            {{editor system.requirements target="system.requirements" engine="prosemirror"}}
          </span>
          <span class="generic-label"><h3>{{localize "FE2.Items.Common.Benefits"}}</h3></span>
          <span class="small-editor item-text-long-line">
            {{editor system.benefits target="system.benefits" engine="prosemirror"}}
          </span>
          <span class="generic-label"><h3>{{localize "FE2.Items.Common.Disadvantages"}}</h3></span>
          <span class="small-editor item-text-long-line">
            {{editor system.disadvantages target="system.disadvantages" engine="prosemirror"}}
          </span>
        </div>
    </section>
</form>
