<div class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="{{localize "FE2.Sheet.Common.Name"}}"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <nav class="item-sheet-tabs tabs" data-group="primary">
          <a data-tab="details" data-group="primary" data-action="tab">{{localize "FE2.Tabs.Details"}}</a>
          <a data-tab="effects" data-group="primary" data-action="tab">{{localize "FE2.Effects.UI.TabLabel"}}</a>
        </nav>

        <div class="tab" data-group="primary" data-tab="details">
          <ul>
            <span class="generic-label"><h3>{{localize "FE2.Sheet.Common.Type"}}</h3>
            <select class="competence-base flexrow" type="text" name="system.type" value="{{system.type}}" data-dtype="String">
              {{selectOptions tradeGoodTypeChoices selected=system.type}}
            </select> </span>
          </ul>
          <h3>{{localize "FE2.Sheet.Common.Description"}}</h3>
          <prose-mirror button="true" toggled="true" name="system.description" value="{{system.description}}">{{{enrichedDescription}}}</prose-mirror>
        </div>

        <div class="tab" data-group="primary" data-tab="effects">
          {{> "systems/foundry-fe2/templates/effects-section.html"}}
        </div>

    </section>
</div>
