<div class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="{{localize "FE2.Sheet.Common.Name"}}"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <nav class="item-sheet-tabs tabs" data-group="primary">
          <a data-tab="details" data-group="primary" data-action="tab">{{localize "FE2.Tabs.Details"}}</a>
          <a data-tab="effects" data-group="primary" data-action="tab">{{localize "FE2.Effects.UI.TabLabel"}}</a>
        </nav>

        <div class="tab" data-group="primary" data-tab="details">

          {{> "systems/foundry-fe2/templates/variations-section.html"}}
          {{> "systems/foundry-fe2/templates/modifications-section.html"}}

          <h3> {{localize "FE2.Items.Common.Keywords"}}</h3>
          <div class="grid grid-3col">
            {{#each keywords as |keywordArray key|}}
            <div>
              <ul>
                {{#each keywordArray as |keyword key|}}
                <li class="item-list item flexrow stack-left">
                  <input type="checkbox" name="system.keywords.{{keyword.key}}.flag" {{checked keyword.flag}}/>
                  <label class="generic-label keyword-label packed-left">{{localize keyword.label}}</label>
                  {{#if keyword.X}}
                    <input type="text" class="input-numeric-short padd-right" name="system.keywords.{{keyword.key}}.X" value="{{keyword.X}}" data-dtype="String"/>
                  {{/if}}
                  {{#if keyword.Y}}
                    <input type="text" class="input-numeric-short padd-right" name="system.keywords.{{keyword.key}}.Y" value="{{keyword.Y}}" data-dtype="String"/>
                  {{/if}}
                </li>
                {{/each}}
              </ul>
            </div>
            {{/each}}
          </div>

          <h3>{{localize "FE2.Items.Common.Stats"}}</h3>
          {{> "systems/foundry-fe2/templates/weapon-stats-section.html" stats=system.statstotal isfinal=true title=(localize "FE2.Items.Common.FinalStats") header=true}}
          {{> "systems/foundry-fe2/templates/weapon-stats-section.html" stats=system.stats  isbase=true title=(localize "FE2.Items.Common.OutfitStats")}}
          {{#each system.variations as |variation key|}}
          {{> "systems/foundry-fe2/templates/weapon-stats-section.html" stats=variation.system.stats  isfinal=false title=(localize "FE2.Items.Common.Variation") subtitle=variation.name}}
          {{/each}}
          {{#each system.modifications as |modification key|}}
          {{> "systems/foundry-fe2/templates/weapon-stats-section.html" stats=modification.system.stats  isfinal=false title=(localize "FE2.Items.Common.Modification") subtitle=modification.name}}
          {{/each}}

          <h3>{{localize "FE2.Sheet.Common.Description"}}</h3>
          <prose-mirror button="true" toggled="true" name="system.description" value="{{system.description}}">{{{enrichedDescription}}}</prose-mirror>
        </div>

        <div class="tab" data-group="primary" data-tab="effects">
          {{> "systems/foundry-fe2/templates/effects-section.html"}}
        </div>

    </section>
</div>
