<div class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-action="editImage" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="{{localize "FE2.Sheet.Common.Name"}}"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{> "systems/foundry-fe2/templates/partial-item-tabs-nav.html"}}

        <div class="tab" data-group="primary" data-tab="details">
        </div>

        <div class="tab" data-group="primary" data-tab="system">
          <ul class="fe2-system-fields">
            <li class="flexrow"><label class="generic-label">{{localize "FE2.Sheet.Common.Type"}}</label>
              <select class="competence-base" name="system.type" value="{{system.type}}" data-dtype="String">
                {{selectOptions complicationTypeChoices selected=system.type}}
              </select>
            </li>
            <li class="flexrow"><label class="generic-label">{{localize "FE2.Items.Complication.InfluenceLevel"}}</label>
              <input type="text" name="system.influence" value="{{system.influence}}" data-dtype="String"/>
            </li>
          </ul>
        </div>

        <div class="tab" data-group="primary" data-tab="effects">
          {{> "systems/foundry-fe2/templates/effects-section.html"}}
        </div>

    </section>
</div>
