<li class="item flexrow fe2-list-header">
  <span class="fe2-icon-spacer"></span>
  <span class="competence-label">{{localize "FE2.Sheet.Common.Name"}}</span>
  <span class="specialisation-label">{{localize "FE2.SkillList.Trained"}}</span>
  <span class="specialisation-label">{{localize "FE2.SkillList.Attribute"}}</span>
  <span class="specialisation-label">{{localize "FE2.SkillList.StaticMod"}}</span>
  <span class="specialisation-label">{{localize "FE2.Sheet.Common.Total"}}</span>
  <span class="specialisation-label">{{localize "FE2.SkillList.Trait"}}</span>
  <div class="item-controls">
    <span class="specialisation-label">{{localize "FE2.SkillList.Edit"}}</span>
  </div>
</li>
