<li class="item flexrow">
  &nbsp;
  <span class="generic-label">{{localize "FE2.Sheet.Common.Name"}}</span>
  <span class="generic-label">{{localize "FE2.SkillList.Trained"}}</span>
  <span class="generic-label">{{localize "FE2.SkillList.Attribute"}}</span>
  <span class="generic-label">{{localize "FE2.SkillList.StaticMod"}}</span>
  <span class="generic-label">{{localize "FE2.Sheet.Common.Total"}}</span>
  <span class="generic-label">{{localize "FE2.SkillList.Trait"}}</span>
  <span class="generic-label">{{localize "FE2.SkillList.Edit"}}</span>
</li>
