<div class="skill-roll-dialog">
  <h2 class="dialog-roll-title">{{title}}</h2>

  <div class="floxrow">
    <div class="flexrow">
      <span class="competence-base flexrow" >{{localize "FE2.Roll.Labels.HitBonus"}} : {{weapon.system.statstotal.hit.value}}</span>
      <span class="competence-base flexrow" >{{localize "FE2.Roll.Labels.RateOfFire"}} : {{rofValue}}</span>
    </div>

    {{#if weaponRoFOptions}}
    <div class="flexrow">
      <span class="competence-base flexrow" >{{localize "FE2.Roll.Labels.RateOfFire"}} : </span>
      <select class="competence-base flexrow" type="text" id="rof" name="rof" value="rofValue" data-dtype="Number">
        {{selectOptions weaponRoFOptions selected=rofValue}}
      </select>
    </div>
    {{/if}}

    <div class="flexrow">
      <span class="competence-base flexrow" >{{localize "FE2.Roll.Labels.SkillToUse"}} : </span>
      <select class="competence-base flexrow" type="text" id="skill-spacecraft" name="skill" value="skill" data-dtype="String">
        {{selectOptions spacecraftSkillChoices selected=skillId}}
      </select>
    </div>

    <div class="flexrow">
      <span class="competence-base flexrow" >{{localize "FE2.Roll.Labels.BonusMalus"}} : </span>
      <select class="competence-base flexrow" type="text" id="bonusMalus" name="bonusMalus" value="bonusMalus" data-dtype="Number">
        {{selectOptions optionsBonusMalus selected=bonusMalus}}
      </select>
    </div>
    <div class="flexrow">
      <span class="competence-base flexrow" >{{localize "FE2.Roll.Labels.HitDiceModifier"}} : </span>
      <select class="competence-base flexrow" type="text" id="bMHitDice" name="bMHitDice" value="bMHitDice" data-dtype="Number">
        {{selectOptions optionsBonusMalus selected=bMHitDice}}
      </select>
    </div>
    <div class="flexrow">
      <span class="competence-base flexrow">
        {{#ifThen (ne munitions "0") "" (localize "FE2.Roll.Labels.MunitionsEmpty")}}{{/ifThen}}
      </span>
    </div>

    <div class="flexrow">
      <span class="competence-base flexrow">
        <label class="generic-label">{{localize "FE2.Roll.Labels.UseMunitions"}} ({{munitions}}) ?</label>
        <label class="attribute-value checkbox"><input type="text" id="munitionsUsed" class="input-numeric-short padd-right" name="munitionsUsed" value="0" data-dtype="Number"/>
      </span>
    </div>

    <h3>{{localize "FE2.Items.Common.Stats"}}</h3>
    {{> "systems/foundry-fe2/templates/weapon-stats-section.html" stats=weapon.system.statstotal isfinal=false title=(localize "FE2.Items.Common.FinalStatsReminder") header=true}}

  </div>

</div>
